.App {
  /* display: flex; */
  /* justify-content: center; */
  height: 400px;
  border: 1px solid black;
  margin: auto;
  padding: 2rem;
  width: 60%
}


.actions {
  display: flex;
  justify-content: center;
}