.App {
  height: 400px;
  border: 1px solid black;
  padding: 2rem;
  width: 60%
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.actions {
  display: flex;
  justify-content: center;
}